
@import 'modules/common';


div#wall {
    background-image: url('/resources/images/itc_wall.jpg');
    opacity: 0.8;
}


div#header {
    position: static;
    top: 20px;
    left: 20px;
}


div#container {
    margin-left: auto;
    margin-right: auto;

    padding-top: 8%;
    padding-bottom: 5%;
}



h1#service_name {
    padding: 20px;
}

p.service-description {
    margin-bottom: 60px;
}

img.service-image {
    margin-left: auto;
    margin-right: auto;
}

button.itc-entry {
    margin: 70px;
    margin-left: auto;
    margin-right: auto;
    margin-right: auto;
}


div#footer img {
    width: 40px;
    margin: 10px;
    opacity: 0.8;
}

div#footer img:hover {
    opacity: 1.0;
    cursor: pointer;
}

