
@import 'modules/common';


body {
    background-image: url('/resources/images/itc_wall.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;

    /* css3 */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


div#header {
    position: static;
    top: 20px;
    left: 20px;
}


div#container {
    margin-left: auto;
    margin-right: auto;

    padding-top: 8%;
    padding-bottom: 5%;
}



h1#service_name {
    padding: 20px;
}

p.service-description {
    margin-bottom: 60px;
}

img.service-image {
    width: 500px;
}

button.itc-entry {
    margin: 70px;
}


div#footer img {
    width: 40px;
    margin: 10px;
    opacity: 0.8;
}

div#footer img:hover {
    opacity: 1.0;
    cursor: pointer;
}

