doctype html
html itemscope="itemscope" itemtype="http://data-vocabulary.org/Person" lang="ja"
    head
        meta charset="utf-8"
        meta name="viewport" content="width=device-width, initial-scale=1.0"

        meta property="og:title" content="ITC - IT勉強会新着通知サービス"
        meta property="og:type" content="website"
        meta property="og:url" content="http://app2641.com/products/itc.html"
        meta property="og:image" content="http://app2641.com/resources/images/profile.png"
        meta property="og:site_name" content="app2641.com"
        meta property="og:description" content="IT勉強会新着通知サービス"

        meta name="twitter:site" content="@app2641"
        meta name="keywords" content="ITC IT 勉強会 新着 通知"

        link rel="author" href="https://plus.google.com/107799956847403953714"
        meta name="description" content="IT勉強会新着通知サービス"


        link href="/resources/css/reset.css" media="screen" rel="stylesheet" type="text/css"
        link href="/resources/lib/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"
        link href="/resources/css/itc.css" rel="stylesheet" type="text/css"

        script type="text/javascript" src="/resources/lib/jQuery/jquery-2.1.1.min.js"
        script type="text/javascript" src="/resources/lib/twitter-bootstrap/js/bootstrap.min.js"
        script type="text/javascript" src="/resources/js/product/itc.js"

        link rel="shortcut icon" type="image/x-icon" href="/resources/favicon.ico"

        title ITC - IT勉強会新着通知サービス

    body
        div#header
            p
                a href="/"
                    span.glyphicon.glyphicon-chevron-left

        div#container
            div.text-center
                h1#service_name.g-font-nextone ITC

                p.service-description
                    | ITC は、IT 勉強会の新着情報をメールで通知するサービスです。
                    br
                    | 早く、そして正確な情報をお届けします。

                img.service-image.shadow src="/resources/images/itc_mail.png"

                br

                button type="button" class="btn btn-primary btn-lg itc-entry" title="ITC にエントリーする"
                    | ITC にエントリーする


        div#footer
            div.text-center
                a href="/"
                    img.shadow.img-circle src="/resources/images/profile.png" itempop="image"
                p
                    | Copyright, app2641

