
@import 'modules/fonts';


html, body {
    height: 100%;

    padding:10px;
    margin:0px;
}

body {
    min-height: 100%;
}


.shadow {
    box-shadow: 0px 1px 4px rgb(187, 187, 187);
}

.background-image {
    position: fixed;
    top: 0;
    left: 0;

    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    z-index: -1;

    // 画像をタイル状に繰り返し表示しない
    background-repeat: no-repeat;

    // 画像を常に天地左右の中央に配置
    background-position: center center;

    // コンテンツの高さが画像の高さより大きい時、動かないように固定
    background-attachment: fixed;

    // 背景画像が読み込まれる前に表示される背景のカラー
    //background-color: #464646;
    background-color: #616161;

    // css3
    // 表示するコンテナの大きさに基づいて、背景画像を調整
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

