
div.products {
    margin: 40px;
    margin-top: 60px;
    font-size: 1.2em;
}


div.product {
    margin: 30px;
    padding: 10px 50px;
}

div.product p {
    margin: 0px;
    //margin-bottom: 15px;
}

div.product p a {
    font-size: 1.4em;
    vertical-align: middle;

    text-decoration: none;
    color: #eee;
}

div.product a:hover {
    text-decoration: underline;
}

div.product img.favicon-img {
    width: 20px;
    margin: 10px;
}

div.product p.description {
    font-size: 0.8em;
    margin-top: 5px;
    color: #;
}

